<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Guochun Shen</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="cleartype" content="on">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <meta name="author" content="Guochun Shen">
  <meta name="description" lang="en" content="Guochun Shen is a community ecologiest in Shanghai, China">

<!-- GoStats JavaScript Based Code -->
<script type="text/javascript" src="http://gostats.cn/js/counter.js"></script>
<script type="text/javascript">_gos='monster.gostats.cn';_goa=467785;
_got=5;_goi=1;_gol='国外流量统计';_GoStatsRun();</script>
<noscript><a target="_blank" title="国外流量统计" 
href="http://gostats.cn"><img alt="国外流量统计" 
src="http://monster.gostats.cn/bin/count/a_467785/t_5/i_1/counter.png" 
style="border-width:0" /></a></noscript>
<!-- End GoStats JavaScript Based Code -->

  <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /
  <link href="/css/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]>
    <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    
  </head>
  <body>

    {{ content }}

    <footer>
      <div class="container">
        <ul class="social-media-links">
         
         <li><a  target="_blank" href="mailto:gcshen@des.ecnu.edu.cn"><i class="icon-envelope"></i></a></li>
         <li><a  target="_blank" hreflang="de" href="https://www.facebook.com/guochunshen"><i class="icon-facebook"></i></a></li>
         <li><a  target="_blank" hreflang="en" href="https://plus.google.com/113470194405948336791/about"><i class="icon-google-plus"></i></a></li>
         <li><a  target="_blank" hreflang="en" href="https://github.com/guochunshen"><i class="icon-github"></i></a></li>
       </ul>
     </div>
   </footer>

 </body>
 </html>
